{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
	<header class="header">
		<button class="button">
			<img width="24px" height="24px" src="/svg/back.svg">
		</button>
		<button class="button">
			<img width="24px" height="24px" src="/svg/avatar.svg">
		</button>
	</header>

	<h1 class="title">Коммьюніті</h1>

	<div class="tab">
		<span class="tab__title ">База знань</span>
		<span class="tab__title active">Інформація</span>
	</div>


</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}